<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="   
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans.xsd      
        http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
		
		<mvc:annotation-driven />
		<mvc:resources location="/WEB-INF/resources/" mapping="/resources/**" />
		<context:component-scan base-package="com" />
		<tx:annotation-driven/>
		
		<!--  Step 2: View Resolver Configuration  -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="WEB-INF/Views/" />
		<property name="suffix" value=".jsp" />
	</bean>
		
		
	<!-- Configure StandardServletMultipartResolver for resolve files  -->
	<bean name="multipartResolver" 
	class="org.springframework.web.multipart.support.StandardServletMultipartResolver" />
	
	<!-- Database connection configuration with hibernate -->
	<!-- This is DataSource -->
	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" name="ds" >
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3305/springcrud" />
		<property name="username" value="root"/>
		<property name="password" value="" />
	</bean>
	
	<!-- This is LocalSessionFactoryBean -->
	<bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" name="factory" >
		<property name="dataSource" ref="ds" />
		<property name="annotatedClasses">
			<list>
				<value>com.spring.curd.application.model.Product</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		
	</bean>
	  
	<!-- This is HibernateTemplete -->
	<bean class="org.springframework.orm.hibernate5.HibernateTemplate" name="hibernateTemplate">
		<property name="sessionFactory" ref="factory" />
	</bean>
	
	<bean class="org.springframework.orm.hibernate5.HibernateTransactionManager" name="transactionManager">
		<property name="sessionFactory" ref="factory" />
	</bean>
		
</beans>